extends base.pug

block content 
    h4 Edit video
    form(method="POST")
        input(name="title", value=video.title, required)
        input(name="description", value=video.description, required, minlength=5)
        input(name="hashtags", value=video.hashtags.join(), required)
        input(value="Save", type="submit")